{% extends 'base.html.twig' %}

{% block title %}Edit IncomeSetting{% endblock %}

{% block body %}
    <h1>Edit IncomeSetting</h1>

    {{ include('income_setting/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_income_setting_index') }}">back to list</a>

    {{ include('income_setting/_delete_form.html.twig') }}
{% endblock %}
