{% extends 'base.html.twig' %}

{% block title %}Edit BudgetExpensePlan{% endblock %}

{% block body %}
    <h1>Edit BudgetExpensePlan</h1>

    {{ include('budget_expense_plan/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_budget_expense_plan_index') }}">back to list</a>

    {{ include('budget_expense_plan/_delete_form.html.twig') }}
{% endblock %}
