{% extends 'base.html.twig' %}

{% block title %}New BudgetExpensePlan{% endblock %}

{% block body %}
    <h1>Create new BudgetExpensePlan</h1>

    {{ include('budget_expense_plan/_form.html.twig') }}

    <a href="{{ path('app_budget_expense_plan_index') }}">back to list</a>
{% endblock %}
