{% if is_granted("ad_pymt") or is_granted("vw_pymt") or is_granted("vw_usr_grp")  %}
    <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
    <i class="nav-icon fa fa-wallet text-primary"></i>

            <p>
                {% trans %}
            Property Management
                {% endtrans %}
                <i class="right fa fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
           
         
            {% if is_granted("vw_pymt") %}

                <li class="nav-item">
                    <a href="{{ path('app_asset_index') }}" class="nav-link">

                        <i class="fa fa-tasks nav-icon"></i>
                        <p>
                            {% trans %}
                            Asset List
                            {% endtrans %}
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_user_card_index') }}" class="nav-link">

                        <i class="fa fa-tasks nav-icon"></i>
                        <p>
                            {% trans %}
                            User Card
                            {% endtrans %}
                        </p>
                    </a>
                </li>
            {% endif %}
            {% if is_granted("ad_pymt") %}

            <li class="nav-item">
                <a href="{{ path('app_asset_category_index') }}" class="nav-link">

                    <i class="fa fa-tasks nav-icon"></i>
                    <p>
                        {% trans %}
                        Asset Category
                        {% endtrans %}
                    </p>
                </a>
            </li>
            <li class="nav-item">
            <a href="{{ path('app_measure_index') }}" class="nav-link">

                <i class="fa fa-tasks nav-icon"></i>
                <p>
                    {% trans %}
                    Measurement
                    {% endtrans %}
                </p>
            </a>
        </li>
       
   

        {% endif %}
           

        </ul>
    </li>
{% endif %}
</li>