{% if is_granted("ad_pymt") or is_granted("vw_pymt") or is_granted("vw_usr_grp")  %}
    <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
            <i class="nav-icon fa fa-credit-card text-primary"></i>
            <p>
                {% trans %}
             Budget & Plan
                {% endtrans %}
                <i class="right fa fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
           
         
            {% if is_granted("vw_pymt") %}

                <li class="nav-item">
                    <a href="{{ path('app_budget_index') }}" class="nav-link">

                        <i class="fa fa-tasks nav-icon"></i>
                        <p>
                            {% trans %}
                            Budget List
                            {% endtrans %}
                        </p>
                    </a>
                </li>
            {% endif %}
            {% if is_granted("ad_pymt") %}

            <li class="nav-item">
                <a href="{{ path('app_budget_income_plan_index') }}" class="nav-link">

                    <i class="fa fa-tasks nav-icon"></i>
                    <p>
                        {% trans %}
                        Income Plan
                        {% endtrans %}
                    </p>
                </a>
            </li>
            <li class="nav-item">
            <a href="{{ path('app_budget_expense_plan_index') }}" class="nav-link">

                <i class="fa fa-tasks nav-icon"></i>
                <p>
                    {% trans %}
                    Expense Plan
                    {% endtrans %}
                </p>
            </a>
        </li>
       
   

        {% endif %}
           

        </ul>
    </li>
{% endif %}
</li>