<nav class="mt-3">
	<ul
		class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
		<!-- Add icons to the links using the .nav-icon class
																														               with font-awesome or any other icon font library -->
		 {% include "menus/user.html.twig" %}
		 {% include "menus/student.html.twig" %}
		 {% include "menus/payment.html.twig" %}
		 {% include "menus/budget.html.twig" %}

		 {% include "menus/setting.html.twig" %}


         {# {% include "menus/patient.html.twig" %}
         
		 {% include "menus/payment.html.twig" %} #}

         
		 {# 
		
		 {% include "menus/product.html.twig" %}
		 {% include "menus/sale.html.twig" %}
		 {% include "menus/invoice.html.twig" %}
		 {% include "menus/expense.html.twig" %}
		 {% include "menus/note.html.twig" %} #}







	</ul>
</nav>