{% extends 'base.html.twig' %}

{% block title %}Edit UserCard{% endblock %}

{% block body %}
    <h1>Edit UserCard</h1>

    {{ include('user_card/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_card_index') }}">back to list</a>

    {{ include('user_card/_delete_form.html.twig') }}
{% endblock %}
