{% extends 'base.html.twig' %}

{% block title %}New PaymentSetting{% endblock %}

{% block body %}
    <h1>Create new PaymentSetting</h1>

    {{ include('payment_setting/_form.html.twig') }}

    <a href="{{ path('app_payment_setting_index') }}">back to list</a>
{% endblock %}
